@keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0.5; }
}
.blink {
  color: red;
  -webkit-animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite;
  -ms-animation: blink 1s linear infinite;
  -o-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}

.blink:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.text-hover {
  color: white;
  background-color: #ff2052;
  display: none;
  padding: 3px;
  font-size: 13px;
  border-radius: .15rem;
  opacity: 1 !important;
}

.blink:hover .text-hover {
  opacity: 1 !important;
  display: block;
}